Name:           ros-{{ distro }}-{{ pkg_name }}
Version:        {{ pkg_version }}
Release:        {{ pkg_release }}%{?dist}
Summary:        ROS package {{ pkg_name }}

License:        {{ license }}
URL:            {{ pkg_url }}
{% for url in source_urls -%}
Source{{ loop.index0 }}:        {{ url }}#/ros-{{ distro }}-{{ pkg_name }}-{{ pkg_version }}-source{{ loop.index0 }}.tar.gz
{% endfor %}

{% for patch in patches -%}
Patch{{ loop.index0 }}: {{ patch }}
{% endfor %}

BuildRequires:  python2-catkin_pkg
BuildRequires:  cmake
{% for dep in ros_dependencies -%}
BuildRequires:  ros-{{ distro }}-{{ dep }}
{% endfor %}
{% for dep in system_dependencies -%}
BuildRequires:  {{ dep }}
{% endfor %}

{% for dep in ros_dependencies -%}
Requires:       ros-{{ distro }}-{{ dep }}
{% endfor %}
{% for dep in system_dependencies -%}
Requires:       {{ dep }}
{% endfor %}

%description
{{ pkg_description }}


%prep

%setup -c -T
{% for url in source_urls %}
tar --strip-components=1 -xf %{SOURCE{{ loop.index0 }}}
{%- endfor %}
{% for patch in patches %}
%patch{{ loop.index0 }} -p1
{%- endfor %}


%build
# nothing to do here


%install
source %{_libdir}/ros/setup.bash

catkin_make_isolated \
  -DCMAKE_BUILD_TYPE=RelWithDebInfo \
  --source . \
  --install \
  --install-space %{_libdir}/ros/ \
  --pkg {{ pkg_name }} \
  --cmake-args -DCMAKE_INSTALL_PREFIX=%{buildroot}/%{_libdir}/ros/

grep -rIl "%{buildroot}" %{buildroot} | xargs sed -i "s:%{buildroot}::g"

rm -rf %{buildroot}/%{_libdir}/ros/{.catkin,.rosinstall,_setup*,setup*,env.sh}

find %{buildroot}/%{_libdir}/ros/{bin,etc,lib/pkgconfig,lib/python*/site-packages,share} \
  -mindepth 1 -maxdepth 1 | sed "s:%{buildroot}/::" > files.list

find . -maxdepth 1 -type f -iname "*readme*" | sed "s:^:%%doc :" >> files.list
find . -maxdepth 1 -type f -iname "*license*" | sed "s:^:%%license :" >> files.list


%files -f files.list



%changelog
* {{ date }} {{ user_string }} - {{ pkg_version }}-{{ pkg_release }}
- Update auto-generated Spec file
